<div class="col-md-4">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"> <%= link_to post.title, post %> </h3>
    </div>
    <div class="panel-body">
      <p>
        <%= post.description %>
      </p>
    </div>
  </div>
</div>
