<% provide(:page_title, 'All Posts') %>
<% provide(:blog_active, 'active') %>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
    <h1>Posts</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <%= render @posts %>
  </div>
  <%= will_paginate @posts %>
</div>
