<tr>
  <td>
    <%= link_to post.title, authors_post_path(post) %>
  </td>
  <td>
    <%= link_to 'Delete', authors_post_path(post), class: 'btn btn-danger pull-right action-button', method: 'delete',
                data: {
                    confirm: 'Are you sure?'
                }%>
    <%= link_to 'Edit', edit_authors_post_path(post), class: 'btn btn-success pull-right action-button' %>
    <% if post.published? %>
        <%= link_to 'Unpublish', unpublish_authors_post_path(post), class: 'btn btn-warning pull-right action-button', method: 'put'  %>
    <% else %>
        <%= link_to 'Publish', publish_authors_post_path(post), class: 'btn btn-primary pull-right action-button', method: 'put' %>
    <% end %>

  </td>
</tr>