<% provide('page_title', "Edit #{@post.title}") %>
<% provide(:authors, 'active') %>

<h1>Editing @post.title</h1>

<%= render 'form', post: @post, url: authors_post_url(@post) %>

<%= link_to 'Show', authors_post_path(@post) %> |
<%= link_to 'Back', authors_posts_path %>
