<% provide(:page_title, 'All Posts') %>
<% provide(:authors, 'active') %>

<p id="notice"><%= notice %></p>

<div class="row">
    <h1>Posts</h1>
</div>

<div class="container">
  <table class="table table-striped">
    <tr>
      <th colspan="3">
        Title
        <%= link_to 'New Post', new_authors_post_path, class: 'btn btn-primary pull-right' %>
      </th>

    </tr>
    <%= render @posts %>
  </table>

</div>
