<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class='<%= "#{yield(:blog_active)}" %>'>
        <%= link_to 'Blog',  root_path, class: 'nav-link' %>
      </li>
      <li class="<%= "#{yield(:about_active)}" %>">
        <%= link_to 'About', about_path, class: 'nav-link' %>
      </li>
      <li class='<%= "#{yield(:contact_active)}" %>'>
        <%= link_to 'Contact', contact_path, class: 'nav-link' %>
      </li>
      <% if author_signed_in? %>
          <li class="<%= "#{yield(:authors)}" %>">
            <%= link_to 'My Posts', authors_posts_path, class: 'nav-link' %>
          </li>
          <li class="text-danger">
            <%= link_to 'Logout', destroy_author_session_path, method: :delete, class: 'nav-link ' %>
          </li>
      <% end %>
      <% if !author_signed_in? %>
          <li class="<%= "#{yield(:authors)}" %>">
            <%= link_to 'Sign in', new_author_session_path, class: 'nav-link' %>
          </li>
      <% end %>
    </ul>
  </div>
</nav>