<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:page_title) %> | RubyBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track':  'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>

  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="container <%= controller_name %> <%= action_name %>">
      <%= yield %>
    </div>

  </body>
</html>
